<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenges for the Challenged</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
</head>
<body>
    <h1>This is the base.</h1>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer">
        {% block footer %}
            <h3>This is the beginning of the footer!</h3>
        {% endblock %}
    </div>
</body>
</html>